################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LoanCalculator.Api/obj/Debug
/LoanCalculator.Api/bin
/LoanCalculator.Backend/bin
/LoanCalculator.Backend/obj/Debug
